*{		
	margin : 0;
	padding : 0;
}

.main-container {	
	position : absolute;
	width : 100%;
	height : 100%;

}

.layout-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.column-container {
  height: 90%;
  width: 290px;
  border-radius: 20px 20px 0 0;
  box-shadow: 10px 10px 20px rgb(109, 108, 108); 
}


.create-task-container {
  display: flex;
  justify-content: center;
  width: 310px;
}

.create-task-header-container {
  margin: 20px 0 10px 0;
}

.forms-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 70%;
  align-items: center;
  margin-top: 10%;
  color: #636363;
}

.form {
  display: flex;
  flex-direction: column;
}

.label-input {
  margin: 10px 0 5px 10px;
}

.input-form {
  
  border: none;
  box-shadow: 0 3px 6px -5px rgb(109, 108, 108);
  font-family: 'Roboto', sans-serif;
  font-size: small;
  margin-bottom: 10px;
  height: 20%px;
  width: 100%;
  font-size: 15px;
  outline: none;
  color: #636363;
}


.submit-btn {
  
  border: none;
  box-shadow: 4px 4px 10px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cd4d9;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  font-size: medium;
  
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:active {
  border: none;
  box-shadow: 2px 2px 8px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cc0c5;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  font-size: small;
  font-weight: lighter;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}


.alert-succesful {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  box-shadow: 3px 3px 10px rgb(109, 108, 108);
  border-radius: 10px;
  height: 50%;
}

.succes-symbol {
  color: rgb(29, 192, 29);
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 10px;
  font-weight: bold;
}

.logout-button-container {
  display: flex;
  
  width: 100%;
  height: 20%;
  justify-content: center;
  align-items: center;
  
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  background-color: #5333ed;
  color: white;
  font-family: "Roboto", sans-serif;
  border-style: none;
  border-radius: 10px;
  box-shadow: 4px 4px 10px -3px rgb(73, 73, 73);
}

.to-do-header-container,
.in-progress-header-container,
.finished-header-container {
  color: white;
  display: flex;
  justify-content: center;  
  height: 10%;
  align-items: center;
  border-radius: 20px 20px 0 0;
  font-size: small;
}

.to-do-header-container {
  background-color: #2cd4d9;
}

.in-progress-header-container {
  background-image: linear-gradient(to right, #2cd4d9, #5333ed);
}

.finished-header-container {
  background-color: #5333ed;
}

.create-task-form-container,
.to-do-list-container,
.in-progress-list-container,
.finished-list-container {
  display: block;
  justify-content: center;
  height: 90%;
  flex-direction: column;
  padding: 0 10px 0 10px;
  overflow-y: scroll;
  border-radius: 10px;
}

.create-task-form-container::-webkit-scrollbar,
.to-do-list-container::-webkit-scrollbar,
.in-progress-list-container::-webkit-scrollbar,
.finished-list-container::-webkit-scrollbar {
  display: none;
}

.create-task-form-container {
  display: flex;
  width: 90%;
  height: 70%;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 170px;
  width: 97%;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(109, 108, 108);
  border: 1px solid rgb(221, 220, 220);
  color: #636363;
  background-color: white;
}

.card-title-container {
  height: 20%;
  width: 90%;
}

.card-description-container {
  display: flex;
  height: 65%;
  width: 90%;
  justify-content: center;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 6px -5px rgb(109, 108, 108);
  color: #4827ee;
}

.card-description {
  margin-top: 10px;
  display: block;
  justify-content: left;
  width: 95%;
  height: 100%;
  box-shadow: 0 3px 6px -5px rgb(109, 108, 108);
  overflow-y: scroll;
}

.card-description::-webkit-scrollbar {
  display: none;
}


.card-footer-container {
  display: flex;
  width: 90%;  
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 5px;
}

.card-footer-radio-button-container {
  display: flex;
  width: 80%;
}

.radioB-container {
  display: flex;
  flex-direction: row;
}

.radio-and-label-container {
  display: flex;
  padding: 5px 5px 10px 5px;
  font-size: smaller;
}

.radio-button {
  display: flex;
  width: 15px;
}

.card-footer-delete-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  cursor: pointer;
  
}

.card-footer-delete-icon-container:hover {
  color: rgb(231, 9, 9);
}








.login-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  color: #636363;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(109, 108, 108); 
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-label-input {
  margin: 10px 0 5px 10px;
  font-family: "Roboto", sans-serif;
}

.login-input-form {
  border: none;
  box-shadow: 0 3px 6px -5px rgb(109, 108, 108);
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin-bottom: 15px;
  margin-top: 10px;
  height: 20%px;
  width: 100%;
  font-size: 15px;
  outline: none;
  color: #636363;
}

.login-submit-btn {
  border: none;
  box-shadow: 4px 4px 10px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cd4d9;
  font-family: "Roboto", sans-serif;
  height: 35px;
  font-size: medium;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.login-submit-btn:active {
  border: none;
  box-shadow: 2px 2px 8px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cc0c5;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  font-size: small;
  font-weight: lighter;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.login-question-create-account {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 55%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-top: 20px;
}

.registrate {
  text-decoration: none;
  font-weight: bold;
  color: #4827ee;
}







.signup-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  

}

.signup-forms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  color: #636363;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgb(109, 108, 108); 
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.signup-label-input {
  margin: 10px 0 5px 10px;
  font-family: "Roboto", sans-serif;
}

.signup-input-form {
  border: none;
  box-shadow: 0 3px 6px -5px rgb(109, 108, 108);
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin-bottom: 15px;
  margin-top: 10px;
  height: 20%px;
  width: 100%;
  font-size: 15px;
  outline: none;
  color: #636363;
}

.signup-submit-btn {
  border: none;
  box-shadow: 4px 4px 10px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cd4d9;
  font-family: "Roboto", sans-serif;
  height: 35px;
  font-size: medium;

  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.signup-submit-btn:active {
  border: none;
  box-shadow: 2px 2px 8px -3px rgb(109, 108, 108);
  color: white;
  background-color: #2cc0c5;
  font-family: 'Roboto', sans-serif;
  height: 35px;
  font-size: small;
  font-weight: lighter;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}